/** {
  border: 1px solid red !important;
}*/

html {
  font-size: 17px;
}

@media (max-width: 900px) {
  html {font-size: 15px;}
}

@media (max-width: 400px) {
  html {font-size: 13px;}
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #747704;
}

.text-muted {
  color: #bcbbbb;
}

.font-thin {
  font-weight: 100;
}

.title-logo {
  margin-top: 20px;
}

.title-super {
  font-size: 4.5em;
}

.marketteLogo {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  background-color: darkgreen;
  font-size: 4.5em;
  font-weight: 900;
  border-radius: 15px;
  color: aquamarine;
}

.projects {
  margin-bottom: 30px;
}

