/** {
  border: 1px solid red !important;
}*/

html {
  font-size: 17px;
}

@media (max-width: 900px) {
  html {font-size: 15px;}
}

@media (max-width: 400px) {
  html {font-size: 13px;}
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #747704;
}

.text-muted {
  color: #bcbbbb;
}

.font-thin {
  font-weight: 100;
}

.title-logo {
  margin-top: 1em;
}

.title-super {
  font-size: 6em;
}

@media (max-width: 900px) {
  .title-super {font-size: 5em;}
}

@media (max-width: 400px) {
  .title-super {font-size: 2em;}
}

.marketteLogo {
  margin-top: .5em;
  width: 1.5em;
  height: 1.5em;
  background-color: darkgreen;
  font-size: 4.5em;
  font-weight: 900;
  border-radius: .5em;
  color: aquamarine;
}

.projects {
  margin-bottom: 3em;
};
